.header {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 31px 0;
    position: relative;

    .top-left {
        max-width: 355px;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }
    .top-right {
        max-width: 234px;
        width: 100%;
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
    }

    .mobile-menu {
        display: none
    }

    &-mobile-avatar {
        display: none
    }

    &-navs {
        @include m.flex-row;
        gap: 40px;

        &-menu {
            @include m.flex-row;
            gap: 30px;

            a {
                text-decoration: none;
            }

            button {
                background: none;
                border: none;
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 19px;
                display: flex;
                align-items: center;
                color: #31456a;
            }
        }
    }

    &-button {
        button {
            background: linear-gradient(215.31deg, #f9f0c3 9.73%, #efbb03 71.72%);
            border-radius: 100px;
            border: none;
            outline: none;
            padding: 14px 65px;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            display: flex;
            align-items: center;
            text-align: center;
            text-transform: uppercase;
            color: #31456a;

            &:hover {
                background: linear-gradient(10deg, #f9f0c3 9.73%, #efbb03 71.72%);
            }
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
    .header {
        &-navs {
            &-menu {
                button {
                    font-size: 13px;
    
                }
            }
        }

        &-button {
            button {
                font-size: 12px;
                padding: 12px 32px;
            }
        }
    }
}

@media screen and (min-width: 320px) and (max-width: 576px) {
    .header {
        height: 70px;
        background: url("../images/mobile/header-pice-of-circle.png");
        background-repeat: no-repeat;
        background-position: -80px -130px;
        padding: 0;

        .container {
            width: 95%;
            padding: 0;
        }

        &-navs, &-button, .top-left, .top-right {
            display: none;
        }

        .mobile-menu, .header-mobile-avatar {
            display: block;
        }

        .mobile-menu {
            width: 30px;
        }
    }
}