@font-face {
    font-family: "Roboto";
    src: url("/fonts/Roboto/Roboto-Regular.ttf");
}

.header {
    background: transparent;
    .header-button {
        button {
            background: white;
        }
    }
}

body {
    background: url("../images/create-task/bg.jpg");
    background-size: 100%;
    background-position-y: -100px;
    font-family: "Roboto";
}

.content {
    margin-top: 0;
    width: 100%;
    min-height: 100vh;
    // background: url("/images/create-task/bg.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 87px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;

    .container {
        width: 80%;
        flex-direction: column;
        gap: 50px;

        .button-box {
            width: 60%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            &-mob {
                display: none;
            }

            button {
                padding: 13px 50px;
                border-radius: 50px;
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 16px;
                display: flex;
                align-items: center;
                color: #ffffff;
                background: none;
                border: none;
            }

            .prev {
                background: linear-gradient(215.31deg, #64DBF5 9.73%, #2567E7 71.72%);
            }

            .next {
                color: #31456A;
                background: linear-gradient(215.31deg, #F9F0C3 9.73%, #EFBB03 71.72%);
            }
        }
    }

    .title {
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        color: #31456a;
        margin-bottom: 60px;
    }

    .category-settings {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, 200px);
        grid-column-gap: 150px;
        grid-row-gap: 100px;

        &-item {
            &-option {
                display: flex;
                flex-direction: column;
                gap: 20px;
                margin-top: 15px;

                .swith-box {
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    span {
                        font-family: "Roboto";
                        font-style: normal;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 21px;
                        display: flex;
                        align-items: center;
                        color: #8ca2b7;
                    }
                }
            }
        }
    }
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: #2196f3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

@media screen and (max-width: 1400px) {

    body {
        background-position-y: 0;
        background-repeat: no-repeat;
    }

    .content {
        .category-settings {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

@media screen and (min-width: 320px) and (max-width: 576px){

    body {
        background-position-y: 0;
        background-repeat: no-repeat;
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;

        .category-settings {
            width: 60%;
            display: flex;
            flex-direction: column;
            // align-items: center;
        }

        .container {
            width: 95%;

            .button-box {
                display: none;

                &-mob {
                    width: 100%;
                    display: flex;
                    font-size: 12px;

                    button {
                        padding: 14px 40px;
                    }
                }
            }
        }
    }
}