@use '../components/variables' as v;
@use '../components/mixin' as m;

.container {
    width: v.$cont;
    @include m.flex-row;
    font-family: v.$font;
    position: relative;
}

section {
    width: 100%;
    @include m.flex-center;
}