<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Oleg Ploshchynskliy">
    <meta name="Description" content="WEB-page for exam">
    <title>Фриланс биржа</title>
    <link rel="stylesheet" href="../style/common/reset.css">
    <link rel="stylesheet" href="../style/index.css">
    <link rel="stylesheet" href="../style/style.css">
</head>

<body>

    <header class="header">
        <div class="container">
            <a href="../index.html" class="mobile-menu" ><img src="../images/mobile/burger-menu.png" alt="" class="mobile-menu"></a>
            <div class="header-navs">
                <div class="header-navs-logo">
                    <a href="/index.html"><img src="../images/logo.png" alt=""></a>
                </div>
                <nav class="header-navs-menu">
                    <a href="layouts/create-task.html"><button>Создать задание</button></a>
                    <button>Найти задание</button>
                    <button>Исполнители</button>
                </nav>
            </div>
            <div class="header-button">
                <button>
                    Авторизуйтесь
                </button>
            </div>
            <img src="../images/mobile/Roman-avatar.png" alt="" class="header-mobile-avatar">
        </div>
    </header>

    <main class="content">
        <div class="title">
            Выбирите категорию
        </div>

        <div class="container">
            <div class="category-settings">
                <div class="category-settings-item">
                    <div class="category-settings-item-name">
                        <p>Транспорт</p>
                    </div>
                    <div class="category-settings-item-option">
                        <div class="swith-box">
                            <label class="switch">
                                <input type="checkbox">
                                <span class="slider round"></span>
                            </label>
                            <span>Авто с водителем</span>
                        </div>
                        <div class="swith-box">
                            <label class="switch">
                                <input type="checkbox">
                                <span class="slider round"></span>
                            </label>
                            <span>Авто на прокат</span>
                        </div>
                    </div>
                </div>
    
                <div class="category-settings-item">
                    <div class="category-settings-item-name">
                        <p>Площадки </p>
                    </div>
                    <div class="category-settings-item-option">
                        <div class="swith-box">
                            <label class="switch">
                                <input type="checkbox">
                                <span class="slider round"></span>
                            </label>
                            <span>Рестораны </span>
                        </div>
                        <div class="swith-box">
                            <label class="switch">
                                <input type="checkbox">
                                <span class="slider round"></span>
                            </label>
                            <span>Кафе</span>
                        </div>
                        <div class="swith-box">
                            <label class="switch">
                                <input type="checkbox">
                                <span class="slider round"></span>
                            </label>
                            <span>Банкетные залы </span>
                        </div>
                        <div class="swith-box">
                            <label class="switch">
                                <input type="checkbox">
                                <span class="slider round"></span>
                            </label>
                            <span>Детские площадки</span>
                        </div>
                    </div>
                </div>

                <div class="category-settings-item">
                    <div class="category-settings-item-name">
                        <p>Декор, инвентарь </p>
                    </div>
                    <div class="category-settings-item-option">
                        <div class="swith-box">
                            <label class="switch">
                                <input type="checkbox">
                                <span class="slider round"></span>
                            </label>
                            <span>Шарики </span>
                        </div>
                        <div class="swith-box">
                            <label class="switch">
                                <input type="checkbox">
                                <span class="slider round"></span>
                            </label>
                            <span>Флористика </span>
                        </div>
                        <div class="swith-box">
                            <label class="switch">
                                <input type="checkbox">
                                <span class="slider round"></span>
                            </label>
                            <span>Декор </span>
                        </div>
                    </div>
                </div>

                <div class="category-settings-item">
                    <div class="category-settings-item-name">
                        <p>Транспорт</p>
                    </div>
                    <div class="category-settings-item-option">
                        <div class="swith-box">
                            <label class="switch">
                                <input type="checkbox">
                                <span class="slider round"></span>
                            </label>
                            <span>Ведущие </span>
                        </div>

                        <div class="swith-box">
                            <label class="switch">
                                <input type="checkbox">
                                <span class="slider round"></span>
                            </label>
                            <span>Аниматоры </span>
                        </div>

                        <div class="swith-box">
                            <label class="switch">
                                <input type="checkbox">
                                <span class="slider round"></span>
                            </label>
                            <span>Фото/видеосъемка </span>
                        </div>

                        <div class="swith-box">
                            <label class="switch">
                                <input type="checkbox">
                                <span class="slider round"></span>
                            </label>
                            <span>Стилисты</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="category-settings">
                <div class="category-settings-item">
                    <div class="category-settings-item-name">
                        <p>Кейтеринг</p>
                    </div>
                    <div class="category-settings-item-option">
                        <div class="swith-box">
                            <label class="switch">
                                <input type="checkbox">
                                <span class="slider round"></span>
                            </label>
                            <span>Персонал</span>
                        </div>
                        <div class="swith-box">
                            <label class="switch">
                                <input type="checkbox">
                                <span class="slider round"></span>
                            </label>
                            <span>Кейтеринг под ключ</span>
                        </div>
                    </div>
                </div>
    
                <div class="category-settings-item">
                    <div class="category-settings-item-name">
                        <p>Артисты </p>
                    </div>
                    <div class="category-settings-item-option">
                        <div class="swith-box">
                            <label class="switch">
                                <input type="checkbox">
                                <span class="slider round"></span>
                            </label>
                            <span>Певцы</span>
                        </div>
                        <div class="swith-box">
                            <label class="switch">
                                <input type="checkbox">
                                <span class="slider round"></span>
                            </label>
                            <span>Музыканты</span>
                        </div>
                    </div>
                </div>

                <div class="category-settings-item">
                    <div class="category-settings-item-name">
                        <p>Праздник под ключ </p>
                    </div>
                    <div class="category-settings-item-option">
                        <div class="swith-box">
                            <label class="switch">
                                <input type="checkbox">
                                <span class="slider round"></span>
                            </label>
                            <span>Праздник под ключ</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="button-box">
                <button class="prev">ВЕРНУТЬСЯ НАЗАД</button>
                <div class="step-on-steps">
                    1 шаг из 7  
                </div>
                <button class="next">СЛЕДУЮЩИЙ ШАГ</button>
            </div>
            <div class="button-box button-box-mob">
                <button class="prev">НАЗАД</button>
                <div class="step-on-steps">
                    1 шаг из 7  
                </div>
                <button class="next">ДАЛЕЕ</button>
            </div>

        </div>

    </main>

</body>

</html>